datafactoryjbs/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryjbs"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dp203datalakegen2jb.dfs.core.windows.net"
		},
		"HTTP_WB_DB_ZIP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://databank.worldbank.org/data/download/DB_CSV.zip"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1049135836114305.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "10.1.x-photon-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_WB_DB_ZIP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_WB_DB_ZIP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2022-05-11T14:23:00Z",
						"timeZone": "UTC",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/adftutorial/mynotebook",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"name": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WB_DB_DATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DBData.csv",
						"folderPath": "WB/DB/unpacked/WB_DB.zip",
						"fileSystem": "dp203-datalakestorage-gen2-filesystem"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country Code",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "2004",
						"type": "String"
					},
					{
						"name": "2005",
						"type": "String"
					},
					{
						"name": "2006",
						"type": "String"
					},
					{
						"name": "2007",
						"type": "String"
					},
					{
						"name": "2008",
						"type": "String"
					},
					{
						"name": "2009",
						"type": "String"
					},
					{
						"name": "2010",
						"type": "String"
					},
					{
						"name": "2011",
						"type": "String"
					},
					{
						"name": "2012",
						"type": "String"
					},
					{
						"name": "2013",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					},
					{
						"name": "2019",
						"type": "String"
					},
					{
						"name": "2020",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WB_DB_ZIP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_WB_DB_ZIP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_WB_DB_ZIP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WB_DB_unpacked')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "WB/DB/unpacked",
						"fileSystem": "dp203-datalakestorage-gen2-filesystem"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WB_DB_zip_stored')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "WB_DB.zip",
						"folderPath": "WB/DB",
						"fileSystem": "dp203-datalakestorage-gen2-filesystem"
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Fastest"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_wb_db_data_avro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "src",
						"fileSystem": "avro"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wb_db_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "src",
						"fileSystem": "json"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "WB_DB_DATA",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> WB_DB_DATA",
							"dataset": {
								"referenceName": "WB_DB_DATA",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared WB_DB_DATA = let AdfDoc = AzureStorage.DataLakeContents(\"https://dp203datalakegen2jb.dfs.core.windows.net/dp203-datalakestorage-gen2-filesystem/WB/DB/unpacked/WB_DB.zip/DBData.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"WB_DB_DATA\" in Source;\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WB_DB_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wb_db_flow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "WB_DB_DATA",
								"type": "DatasetReference"
							},
							"name": "WBDBDATA"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "src_wb_db_data_avro",
								"type": "DatasetReference"
							},
							"name": "wbdb2avro"
						},
						{
							"dataset": {
								"referenceName": "wb_db_json",
								"type": "DatasetReference"
							},
							"name": "wbdb2json"
						}
					],
					"transformations": [
						{
							"name": "unpivotyrstocolumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Country Name} as string,",
						"          {Country Code} as string,",
						"          {Indicator Name} as string,",
						"          {Indicator Code} as string,",
						"          {2004} as string,",
						"          {2005} as string,",
						"          {2006} as string,",
						"          {2007} as string,",
						"          {2008} as string,",
						"          {2009} as string,",
						"          {2010} as string,",
						"          {2011} as string,",
						"          {2012} as string,",
						"          {2013} as string,",
						"          {2014} as string,",
						"          {2015} as string,",
						"          {2016} as string,",
						"          {2017} as string,",
						"          {2018} as string,",
						"          {2019} as string,",
						"          {2020} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false) ~> WBDBDATA",
						"WBDBDATA unpivot(output(",
						"          year as string,",
						"          value as string",
						"     ),",
						"     ungroupBy({Country Name},",
						"          {Country Code},",
						"          {Indicator Name},",
						"          {Indicator Code}),",
						"     lateral: true,",
						"     ignoreNullPivots: true) ~> unpivotyrstocolumns",
						"unpivotyrstocolumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          CountryName = {Country Name},",
						"          CountryCode = {Country Code},",
						"          IndicatorName = {Indicator Name},",
						"          IndicatorCode = {Indicator Code},",
						"          year,",
						"          value",
						"     )) ~> wbdb2avro",
						"unpivotyrstocolumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          {Country Name},",
						"          {Country Code},",
						"          {Indicator Name},",
						"          {Indicator Code},",
						"          Year = year,",
						"          Value = value",
						"     )) ~> wbdb2json"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WB_DB_DATA')]",
				"[concat(variables('factoryId'), '/datasets/src_wb_db_data_avro')]",
				"[concat(variables('factoryId'), '/datasets/wb_db_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WB_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download WB DB zip file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WB_DB_ZIP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WB_DB_zip_stored",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Unpack WB DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Download WB DB zip file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WB_DB_zip_stored",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WB_DB_unpacked",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Transform and store WB DB",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Unpack WB DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "wb_db_flow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"WBDBDATA": {},
									"wbdb2avro": {},
									"wbdb2json": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WB_DB_ZIP')]",
				"[concat(variables('factoryId'), '/datasets/WB_DB_zip_stored')]",
				"[concat(variables('factoryId'), '/datasets/WB_DB_unpacked')]",
				"[concat(variables('factoryId'), '/dataflows/wb_db_flow1')]"
			]
		}
	]
}